<div class="form-container">
    <form class="loginForm" action="/signin" method="post">
        <span class="loginSignupHeader"> LogIn</span>
        <div class="field">
            <input type="email" placeholder="Enter Your Email" class="form-control" id="email" name="email" required>
        </div>
        <div class="field">
            <input type="password" placeholder="Enter Your Password" class="form-control" id="password" name="password" required>
        </div>
        
        <div class="field">
            <button type="submit" class="btn btn-primary ">Login</button>
        </div>
    </form>
</div>
    