<div class="form-container">
    <form class="loginForm" action="/signup" method="post">
        <span class="loginSignupHeader"> SignUp</span>
        <div class="field">
            <input 
                type="text" 
                placeholder="Enter Your name" 
                class="form-control" 
                id="name" 
                name="name" 
                required>
        </div>
        <div class="field">
            <input type="email" 
            class="form-control" 
            placeholder="Enter email"
            id="email" 
            name="email"
             required>
        </div>
        <div class="field">
            
            <input type="password"
             class="form-control"
             placeholder="Enter password"
              id="password" name="password" required>
        </div>
        
        <div class="field">
            <button type="submit" class="btn btn-primary ">SignUp</button>
        </div>
    </form>
    
</div>
